<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>



      <%= require('html-loader!./assets/html/head.html') %>
  </head>


<div class="orange-theme">

<%= require('html-loader!./assets/html/navbar.html') %>


<div class="page-container" id="home">




      <section class="hero orange-theme ">
        <div class="hero-body">
          <div class="  has-text-centered">


            <div class="columns">

              <div class="column">

                <canvas id="mining-canvas" class="hero-canvas">
                  <div style="display:none;">
                    <img id="miningpick" src="app/assets/img/front/pick1_white.png" width="100" height="100">
                    <img id="minedtoken" src="app/assets/img/front/0xbtc_logo_white_small.png" width="20" height="20">
                  </div>

                </canvas>


              </div>

              <div class="column color-white">


                          <div class="whitespace-sm"></div>

                    <div class="is-size-2" style='line-height:1.5em'> Pure Mined Currency </div>

                      <div class="whitespace-sm"></div>

                    <div class="is-size-4"> For Ethereum Applications </div>


              </div>

            </div>


          </div>


          <div class="whitespace-sm"></div>

          <div class="has-text-centered">
            <a href="https://0x1d00ffff.github.io/0xBTC-Stats/" target="_blank">
              <div class='button button-white button-fat'>View Mining Stats</div>
            </a>
          </div>


        </div>
      </section>



  </div>
</div> <!-- orange theme -->

  <div class="page-container" >


      <div   class="box  has-small-text-mobile" style="overflow-x:auto;  ">

        <div class="has-text-centered">
          <iframe width="100%" height="400px"  src="https://www.youtube.com/embed/BK68jbXOIWY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>

          <div class="whitespace-sm"></div>
      </div>




      <div id="currency" class=" pad-15 has-text-centered">


      <div class='title'> The Pure Mined ERC20 Currency for </div>
      <div class="whitespace-md"></div>

      <div class="columns" >

            <div class="column">
            <a href="https://metamask.io" target="_blank">
              <img src="app/assets/img/metamask.png" class="shadow hover-effects" style="border-radius: 50% " height="125" width="125"></img>
              <div class='subtitle '>Metamask</div>
            </div>
            <div class="column">
              <a href="https://0xbitcoin.org/wallet" target="_blank">
              <img src="app/assets/img/logo_diamond.png" class="shadow hover-effects" style="border-radius: 50% " height="125" width="125"></img>
              <div class='subtitle '>Web Wallet</div>
            </div>
            <div class="column">
              <a href="https://trustwalletapp.com/" target="_blank">
              <img src="app/assets/img/trust.png" class="shadow hover-effects" style="border-radius: 50% " height="125" width="125"></img>
              <div class='subtitle '>Trust Mobile Wallet</div>
            </div>
            <div class="column">
              <a href="https://www.ledgerwallet.com/products/ledger-nano-s" target="_blank">
                <img src="app/assets/img/ledger.png"  class="shadow hover-effects" style="border-radius: 50% " height="125" width="125"></img></a>
                <div class='subtitle '>Ledger Nano</div>
              </div>
      </div>

      <div class="whitespace-md"></div>

    </div>


      <div id="sending" class=" pad-15 has-text-centered  ">

        <div class="columns">

              <div class="column is-hidden-mobile">
                <iframe src="https://discordapp.com/widget?id=412477591778492427&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>

              </div>
              <div class="column orange-theme has-round-corners">

                      <div class="whitespace-lg is-hidden-mobile"></div>
                      <div class="whitespace-md"></div>

                        <p class="subtitle color-primary" style=" font-size: 1.5em;   max-width: 15em;   margin: auto;">
                          Join 0xBTC Communities
                        </p>

                       <div class="whitespace-sm"></div>

                       <a href="http://reddit.com/r/0xbitcoin" target="_blank">
                         <div class='button button-bubble is-light button-fat'>Subreddit</div>
                        </a>

                        <div class="whitespace-sm"></div>

                        <a href="https://discord.gg/xAPwaDC" target="_blank">
                        <div class='button button-bubble is-light button-fat'>Discord</div>
                       </a>

                      <div class="whitespace-sm"></div>

                      <a href="http://forum.0xbtc.io" target="_blank">
                      <div class='button button-bubble is-light button-fat'>Forums</div>
                     </a>

            </div>
      </div>



            <div class="whitespace-md"></div>
    </div>


      <div id="guide" class="pad-15 has-text-centered">

        <div class="columns">

              <div class="column">
                     <div class="whitespace-md"></div>

                    <div class='title'> Start Mining 0xBTC </div>
                    <div class='subtitle '>   </div>
                    <div class="whitespace-md"></div>

                    <a href="https://medium.com/@admazzola/0xbitcoin-mining-101-9605b7108b9e" target="_blank">
                      <div class='button-bubble button-primary'>Mining Tutorial</div>
                    </a>


              </div>


              <div class="column">
                <div class="youtube-mining-tutorial">

                  <iframe width="560" height="315" src="https://www.youtube.com/embed/_uEczwlFBbE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                </div>
              </div>


          </div>


          <hr>
          <div id="dashboard" class="has-small-text-mobile  " style="">
            <div class="columns">
              <div class="column"  v-cloak>
                  <div class="is-size-3"> {{ amountMined }} / {{ totalSupply }} </div>

                  <div class="is-size-5"> Tokens Mined </div>
              </div>

              <div class="column"  v-cloak>
                <div class="is-size-3"> {{ hashrateEstimate }} </div>

                <div class="is-size-5"> Est. Hashrate </div>
              </div>
            </div>



          </div>

      </div>











<div class="whitespace-sm"></div>

  </div>



      <%= require('html-loader!./assets/html/footer.html') %>


      <a id="scrollUp" href="#top" style="position: fixed; z-index: 2147483647;"><i class="icon-arrow-up"></i></a>

  </body>
</html>
