<!DOCTYPE html>
<html class="orange-theme">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body>


    <%= require('html-loader!./assets/html/navbar.html') %>


<div class="page-container">

      <section class="hero" id="wallet-titlebar">
        <div class="hero-body">
          <div class="container has-text-centered">
            <h1 class="title font-primary-title color-orange">
              0xBitcoin Wallet
            </h1>
            <h2 class="subtitle">
              {{ balance }}
            </h2>
          </div>
        </div>
      </section>



      <div id="guide" class="box has-text-centered">
        <div class='title'> Transfer 0xBitcoin </div>
        <div class='subtitle '> Download the CPU Miner from Github </div>

        <a href="https://github.com/0xbitcoin/0xbitcoin-miner" target="_blank">
          <div class='button-bubble button-orange'>Download the 0xBTC Miner</div>
        </a>
      </div>



      <div id="about" class="box has-text-centered">

        <div class='title'> Buy/Sell 0xBitcoin </div>
        <div class='subtitle '> Serviced by Etherdelta </div>

        <a href="https://etherdelta.com/#0xb6ed7644c69416d67b522e20bc294a9a9b405b31-ETH" target="_blank">
          <div class='button-bubble button-orange'>0xBTC on Etherdelta</div>
        </a>


      </div>


  </div>


  <%= require('html-loader!./assets/html/footer.html') %>



  </body>
</html>
