
@import 'bulma';
html
{
  //color: white;
  //background-color: pink;
  font-family: "Arial, Helvetica, sans-serif";


}

.font-primary-title
{

    font-family: 'Anton', sans-serif;

}

.color-orange
{
  color: #ff7209  ;
}

.navbar-item
{
  padding: 2px;
}
