
@import 'bulma';
html
{
  color: white;
  background-color: pink;
  font-family: "Arial, Helvetica, sans-serif";

  cursor: url('../images/cucumbercurve.png'), auto;
}

.font-awful
{

     font-family: 'Rammetto One', cursive;

}

.color-white
{
  color:white ;
}

.navbar-item
{
  padding: 2px;
}
