.navbar-padded
{
  padding-top: 20px;
  padding-bottom: 20px;
}


.navbar-container
{
  max-width: 1000px;
  margin: 0 auto;

  align-items: stretch;
  display: flex;
}

.navbar-end
{
    margin-left:50px;
}

.navbar-brand
{

}

.navbar-menu
{

}

.navbar-item
{

}
